In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX

# Load datasets
travel_data = pd.read_csv('combined_travel_data.csv')
economic_data = pd.read_csv('combined_economic_data.csv')

# Quick look at the data
print(travel_data.head())
print(economic_data.head())

        Month  Trip ID Destination  Start date    End date  Duration (days)  \
0  2023-05-01        1  London, UK  2023-05-01  2023-05-08              7.0
1  2023-05-01        1  London, UK  2023-05-01  2023-05-08              7.0
2  2023-05-01        1  London, UK  2023-05-01  2023-05-08              7.0
3  2023-05-01        1  London, UK  2023-05-01  2023-05-08              7.0
4  2023-05-01        1  London, UK  2023-05-01  2023-05-08              7.0

  Traveler name  Traveler age Traveler gender Traveler nationality  ...  \
0    John Smith          35.0            Male             American  ...
1    John Smith          35.0            Male             American  ...
2    John Smith          35.0            Male             American  ...
3    John Smith          35.0            Male             American  ...
4    John Smith          35.0            Male             American  ...

  ProductPitched  PreferredPropertyStar MaritalStatus  NumberOfTrips Passport  \
0          Basic                    3.0        Single            2.0      0.0
1         Deluxe                    3.0        Single            1.0      0.0
2       Standard                    3.0      Divorced            1.0      0.0
3          Basic                    3.0       Married            2.0      1.0
4       Standard                    3.0     Unmarried            2.0      0.0

   PitchSatisfactionScore  OwnCar  NumberOfChildrenVisiting     Designation  \
0                     3.0     1.0                       1.0       Executive
1                     5.0     1.0                       1.0         Manager
2                     5.0     0.0                       0.0  Senior Manager
3                     2.0     0.0                       2.0       Executive
4                     5.0     1.0                       1.0  Senior Manager

   MonthlyIncome
0        16232.0
1        20473.0
2        24738.0
3        17566.0
4        23474.0

[5 rows x 56 columns]
  Country Code   GDP_2010  GDP_2011   GDP_2012  GDP_2013  GDP_2014  GDP_2015  \
0          ABW  -2.733456  3.369238  -1.040800  6.431482 -1.586575 -0.623626
1          AFE   5.157237  3.701853   0.881674  4.216607  4.007577  2.965062
2          AFG  14.362441  0.426355  12.752287  5.600745  2.724543  1.451315
3          AFW   6.969283  4.848814   5.136469  6.107013  5.926266  2.813543
4          AGO   4.398376  3.472053   8.542107  4.954613  4.822559  0.943572

   GDP_2016  GDP_2017  GDP_2018  ...  TravelExp_2012  TravelExp_2013  \
0  1.719624  7.048533  2.381730  ...    1.402000e+09    1.495000e+09
1  2.219015  2.571941  2.491355  ...    2.136938e+10    2.088841e+10
2  2.260314  2.647003  1.189228  ...    1.020000e+08    1.380000e+08
3  0.142092  2.286270  2.838829  ...    4.024254e+09    4.443475e+09
4 -2.580111 -0.147150 -1.316362  ...    7.060000e+08    1.234000e+09

   TravelExp_2014  TravelExp_2015  TravelExp_2016  TravelExp_2017  \
0    1.605000e+09    1.650000e+09    1.757000e+09    1.855000e+09
1    2.206768e+10    2.037513e+10    1.987225e+10    2.157004e+10
2    1.090000e+08    7.900000e+07    4.900000e+07    2.000000e+06
3    4.484258e+09    3.809858e+09    4.935642e+09    6.779779e+09
4    1.589000e+09    1.163000e+09    6.230000e+08    8.800000e+08

   TravelExp_2018  TravelExp_2019  TravelExp_2020  TravelExp_2021
0    2.033000e+09    2.104000e+09    1.076000e+09             NaN
1    2.308881e+10    2.234918e+10    1.076000e+09             NaN
2    2.800000e+07    7.200000e+07    6.500000e+07             NaN
3    6.596820e+09    7.200000e+07    6.500000e+07             NaN
4    5.440000e+08    3.840000e+08    1.600000e+07             NaN

[5 rows x 37 columns]

In [3]:
# Checking for missing values
print(travel_data.isnull().sum())
print(economic_data.isnull().sum())

# Checking data types
print(travel_data.dtypes)
print(economic_data.dtypes)

Month                         0
Trip ID                       0
Destination                   0
Start date                    0
End date                      0
Duration (days)               0
Traveler name                 0
Traveler age                  0
Traveler gender               0
Traveler nationality          0
Accommodation type            0
Accommodation cost            0
Transportation type           0
Transportation cost           0
Simplified Destination        0
Max TemperatureC              1
Mean TemperatureC             1
Min TemperatureC              1
Dew PointC                    1
MeanDew PointC                1
Min DewpointC                 1
Max Humidity                  1
Mean Humidity                 1
Min Humidity                  1
Max Sea Level PressurehPa     1
Mean Sea Level PressurehPa    1
Min Sea Level PressurehPa     1
Max VisibilityKm              1
Mean VisibilityKm             1
Min VisibilityKm              1
Max Wind SpeedKm/h            1
Mean Wind SpeedKm/h           1
Max Gust SpeedKm/h            1
Precipitationmm               1
CloudCover                    1
WindDirDegrees                1
CustomerID                    1
ProdTaken                     1
Age                           1
TypeofContact                 1
CityTier                      1
DurationOfPitch               1
Occupation                    1
Gender                        1
NumberOfPersonVisiting        1
NumberOfFollowups             1
ProductPitched                1
PreferredPropertyStar         1
MaritalStatus                 1
NumberOfTrips                 1
Passport                      1
PitchSatisfactionScore        1
OwnCar                        1
NumberOfChildrenVisiting      1
Designation                   1
MonthlyIncome                 1
dtype: int64
Country Code        0
GDP_2010            0
GDP_2011            0
GDP_2012            0
GDP_2013            0
GDP_2014            0
GDP_2015            0
GDP_2016            0
GDP_2017            0
GDP_2018            0
GDP_2019            0
GDP_2020            0
GDP_2021            0
Inflation_2010      0
Inflation_2011      0
Inflation_2012      0
Inflation_2013      0
Inflation_2014      0
Inflation_2015      0
Inflation_2016      0
Inflation_2017      0
Inflation_2018      0
Inflation_2019      0
Inflation_2020      0
Inflation_2021      0
TravelExp_2010      0
TravelExp_2011      0
TravelExp_2012      0
TravelExp_2013      0
TravelExp_2014      0
TravelExp_2015      0
TravelExp_2016      0
TravelExp_2017      0
TravelExp_2018      0
TravelExp_2019      0
TravelExp_2020      0
TravelExp_2021    266
dtype: int64
Month                          object
Trip ID                         int64
Destination                    object
Start date                     object
End date                       object
Duration (days)               float64
Traveler name                  object
Traveler age                  float64
Traveler gender                object
Traveler nationality           object
Accommodation type             object
Accommodation cost            float64
Transportation type            object
Transportation cost           float64
Simplified Destination         object
Max TemperatureC              float64
Mean TemperatureC             float64
Min TemperatureC              float64
Dew PointC                    float64
MeanDew PointC                float64
Min DewpointC                 float64
Max Humidity                  float64
Mean Humidity                 float64
Min Humidity                  float64
Max Sea Level PressurehPa     float64
Mean Sea Level PressurehPa    float64
Min Sea Level PressurehPa     float64
Max VisibilityKm              float64
Mean VisibilityKm             float64
Min VisibilityKm              float64
Max Wind SpeedKm/h            float64
Mean Wind SpeedKm/h           float64
Max Gust SpeedKm/h            float64
Precipitationmm               float64
CloudCover                    float64
WindDirDegrees                float64
CustomerID                    float64
ProdTaken                     float64
Age                           float64
TypeofContact                  object
CityTier                      float64
DurationOfPitch               float64
Occupation                     object
Gender                         object
NumberOfPersonVisiting        float64
NumberOfFollowups             float64
ProductPitched                 object
PreferredPropertyStar         float64
MaritalStatus                  object
NumberOfTrips                 float64
Passport                      float64
PitchSatisfactionScore        float64
OwnCar                        float64
NumberOfChildrenVisiting      float64
Designation                    object
MonthlyIncome                 float64
dtype: object
Country Code       object
GDP_2010          float64
GDP_2011          float64
GDP_2012          float64
GDP_2013          float64
GDP_2014          float64
GDP_2015          float64
GDP_2016          float64
GDP_2017          float64
GDP_2018          float64
GDP_2019          float64
GDP_2020          float64
GDP_2021          float64
Inflation_2010    float64
Inflation_2011    float64
Inflation_2012    float64
Inflation_2013    float64
Inflation_2014    float64
Inflation_2015    float64
Inflation_2016    float64
Inflation_2017    float64
Inflation_2018    float64
Inflation_2019    float64
Inflation_2020    float64
Inflation_2021    float64
TravelExp_2010    float64
TravelExp_2011    float64
TravelExp_2012    float64
TravelExp_2013    float64
TravelExp_2014    float64
TravelExp_2015    float64
TravelExp_2016    float64
TravelExp_2017    float64
TravelExp_2018    float64
TravelExp_2019    float64
TravelExp_2020    float64
TravelExp_2021    float64
dtype: object

In [4]:
# Drop the 'TravelExp_2021' column from the economic data
economic_data.drop('TravelExp_2021', axis=1, inplace=True)

# Verify the column is removed
print(economic_data.columns)

Index(['Country Code', 'GDP_2010', 'GDP_2011', 'GDP_2012', 'GDP_2013',
       'GDP_2014', 'GDP_2015', 'GDP_2016', 'GDP_2017', 'GDP_2018', 'GDP_2019',
       'GDP_2020', 'GDP_2021', 'Inflation_2010', 'Inflation_2011',
       'Inflation_2012', 'Inflation_2013', 'Inflation_2014', 'Inflation_2015',
       'Inflation_2016', 'Inflation_2017', 'Inflation_2018', 'Inflation_2019',
       'Inflation_2020', 'Inflation_2021', 'TravelExp_2010', 'TravelExp_2011',
       'TravelExp_2012', 'TravelExp_2013', 'TravelExp_2014', 'TravelExp_2015',
       'TravelExp_2016', 'TravelExp_2017', 'TravelExp_2018', 'TravelExp_2019',
       'TravelExp_2020'],
      dtype='object')

In [6]:
import pandas as pd


# Assuming your economic data columns are like 'GDP_2010', 'GDP_2011', ..., 'TravelExp_2020'
# We'll melt the dataframe to long format with one row per country per year
economic_data_long = economic_data.melt(id_vars=['Country Code'],
                                        var_name='Year_Variable',
                                        value_name='Value')

# Split 'Year_Variable' into separate 'Indicator' and 'Year'
economic_data_long['Indicator'] = economic_data_long['Year_Variable'].apply(lambda x: x.split('_')[0])
economic_data_long['Year'] = economic_data_long['Year_Variable'].apply(lambda x: x.split('_')[1])

# Pivot table to have indicators as columns again
economic_data_ready = economic_data_long.pivot_table(index=['Country Code', 'Year'],
                                                     columns='Indicator',
                                                     values='Value',
                                                     aggfunc='first').reset_index()

# Convert Year to integer for merging purposes
economic_data_ready['Year'] = economic_data_ready['Year'].astype(int)

print(economic_data_ready.head())

Indicator Country Code  Year       GDP  Inflation     TravelExp
0                  ABW  2010 -2.733456   2.078141  1.251000e+09
1                  ABW  2011  3.369238   4.316297  1.351000e+09
2                  ABW  2012 -1.040800   0.627472  1.402000e+09
3                  ABW  2013  6.431482  -2.372065  1.495000e+09
4                  ABW  2014 -1.586575   0.421441  1.605000e+09

In [7]:

# Convert 'Start date' to datetime and extract the year
travel_data['Start date'] = pd.to_datetime(travel_data['Start date'])
travel_data['Year'] = travel_data['Start date'].dt.year

In [9]:
# Print column names to verify
print("Travel Data Columns:", travel_data.columns)
print("Economic Data Columns:", economic_data_ready.columns)

Travel Data Columns: Index(['Month', 'Trip ID', 'Destination', 'Start date', 'End date',
       'Duration (days)', 'Traveler name', 'Traveler age', 'Traveler gender',
       'Traveler nationality', 'Accommodation type', 'Accommodation cost',
       'Transportation type', 'Transportation cost', 'Simplified Destination',
       'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC',
       'Dew PointC', 'MeanDew PointC', 'Min DewpointC', 'Max Humidity',
       'Mean Humidity', 'Min Humidity', 'Max Sea Level PressurehPa',
       'Mean Sea Level PressurehPa', 'Min Sea Level PressurehPa',
       'Max VisibilityKm', 'Mean VisibilityKm', 'Min VisibilityKm',
       'Max Wind SpeedKm/h', 'Mean Wind SpeedKm/h', 'Max Gust SpeedKm/h',
       'Precipitationmm', 'CloudCover', 'WindDirDegrees', 'CustomerID',
       'ProdTaken', 'Age', 'TypeofContact', 'CityTier', 'DurationOfPitch',
       'Occupation', 'Gender', 'NumberOfPersonVisiting', 'NumberOfFollowups',
       'ProductPitched', 'PreferredPropertyStar', 'MaritalStatus',
       'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar',
       'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome', 'Year'],
      dtype='object')
Economic Data Columns: Index(['Country Code', 'Year', 'GDP', 'Inflation', 'TravelExp'], dtype='object', name='Indicator')

In [11]:
# Load datasets
travel_data = pd.read_csv('combined_travel_data.csv')

In [13]:
travel_data.describe(include= "all")

,Month,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,...,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
count,14353,14353.000000,14353,14353,14353,14353.000000,14353,14353.000000,14353,14353,...,14352,14352.000000,14352,14352.000000,14352.000000,14352.000000,14352.000000,14352.000000,14352,14352.000000
unique,44,NaN,59,111,125,NaN,109,NaN,2,41,...,5,NaN,4,NaN,NaN,NaN,NaN,NaN,5,NaN
top,2023-08-01,NaN,Bali,2023-08-15,2023-07-08,NaN,David Lee,NaN,Female,American,...,Basic,NaN,Married,NaN,NaN,NaN,NaN,NaN,Executive,NaN
freq,1144,NaN,833,624,520,NaN,832,NaN,7385,2704,...,5280,NaN,7008,NaN,NaN,NaN,NaN,NaN,5280,NaN
mean,NaN,69.992824,NaN,NaN,NaN,7.594231,NaN,33.116213,NaN,NaN,...,NaN,3.595318,NaN,3.206313,0.302536,3.036650,0.608696,1.200251,NaN,23597.082079
std,NaN,40.269833,NaN,NaN,NaN,1.590909,NaN,7.090660,NaN,NaN,...,NaN,0.808533,NaN,1.835893,0.459372,1.363048,0.488059,0.851633,NaN,5214.975226
min,NaN,1.000000,NaN,NaN,NaN,5.000000,NaN,20.000000,NaN,NaN,...,NaN,3.000000,NaN,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,1000.000000
25%,NaN,35.000000,NaN,NaN,NaN,7.000000,NaN,28.000000,NaN,NaN,...,NaN,3.000000,NaN,2.000000,0.000000,2.000000,0.000000,1.000000,NaN,20580.750000
50%,NaN,70.000000,NaN,NaN,NaN,7.000000,NaN,31.000000,NaN,NaN,...,NaN,3.000000,NaN,3.000000,0.000000,3.000000,1.000000,1.000000,NaN,22347.000000
75%,NaN,105.000000,NaN,NaN,NaN,8.000000,NaN,38.000000,NaN,NaN,...,NaN,4.000000,NaN,4.000000,1.000000,4.000000,1.000000,2.000000,NaN,25453.000000
max,NaN,139.000000,NaN,NaN,NaN,14.000000,NaN,60.000000,NaN,NaN,...,NaN,5.000000,NaN,22.000000,1.000000,5.000000,1.000000,3.000000,NaN,98678.000000

In [14]:
travel_data.isnull().sum()

Month                         0
Trip ID                       0
Destination                   0
Start date                    0
End date                      0
Duration (days)               0
Traveler name                 0
Traveler age                  0
Traveler gender               0
Traveler nationality          0
Accommodation type            0
Accommodation cost            0
Transportation type           0
Transportation cost           0
Simplified Destination        0
Max TemperatureC              1
Mean TemperatureC             1
Min TemperatureC              1
Dew PointC                    1
MeanDew PointC                1
Min DewpointC                 1
Max Humidity                  1
Mean Humidity                 1
Min Humidity                  1
Max Sea Level PressurehPa     1
Mean Sea Level PressurehPa    1
Min Sea Level PressurehPa     1
Max VisibilityKm              1
Mean VisibilityKm             1
Min VisibilityKm              1
Max Wind SpeedKm/h            1
Mean Wind SpeedKm/h           1
Max Gust SpeedKm/h            1
Precipitationmm               1
CloudCover                    1
WindDirDegrees                1
CustomerID                    1
ProdTaken                     1
Age                           1
TypeofContact                 1
CityTier                      1
DurationOfPitch               1
Occupation                    1
Gender                        1
NumberOfPersonVisiting        1
NumberOfFollowups             1
ProductPitched                1
PreferredPropertyStar         1
MaritalStatus                 1
NumberOfTrips                 1
Passport                      1
PitchSatisfactionScore        1
OwnCar                        1
NumberOfChildrenVisiting      1
Designation                   1
MonthlyIncome                 1
dtype: int64

In [15]:
travel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14353 entries, 0 to 14352
Data columns (total 56 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Month                       14353 non-null  object
 1   Trip ID                     14353 non-null  int64
 2   Destination                 14353 non-null  object
 3   Start date                  14353 non-null  object
 4   End date                    14353 non-null  object
 5   Duration (days)             14353 non-null  float64
 6   Traveler name               14353 non-null  object
 7   Traveler age                14353 non-null  float64
 8   Traveler gender             14353 non-null  object
 9   Traveler nationality        14353 non-null  object
 10  Accommodation type          14353 non-null  object
 11  Accommodation cost          14353 non-null  float64
 12  Transportation type         14353 non-null  object
 13  Transportation cost         14353 non-null  float64
 14  Simplified Destination      14353 non-null  object
 15  Max TemperatureC            14352 non-null  float64
 16  Mean TemperatureC           14352 non-null  float64
 17  Min TemperatureC            14352 non-null  float64
 18  Dew PointC                  14352 non-null  float64
 19  MeanDew PointC              14352 non-null  float64
 20  Min DewpointC               14352 non-null  float64
 21  Max Humidity                14352 non-null  float64
 22  Mean Humidity               14352 non-null  float64
 23  Min Humidity                14352 non-null  float64
 24  Max Sea Level PressurehPa   14352 non-null  float64
 25  Mean Sea Level PressurehPa  14352 non-null  float64
 26  Min Sea Level PressurehPa   14352 non-null  float64
 27  Max VisibilityKm            14352 non-null  float64
 28  Mean VisibilityKm           14352 non-null  float64
 29  Min VisibilityKm            14352 non-null  float64
 30  Max Wind SpeedKm/h          14352 non-null  float64
 31  Mean Wind SpeedKm/h         14352 non-null  float64
 32  Max Gust SpeedKm/h          14352 non-null  float64
 33  Precipitationmm             14352 non-null  float64
 34  CloudCover                  14352 non-null  float64
 35  WindDirDegrees              14352 non-null  float64
 36  CustomerID                  14352 non-null  float64
 37  ProdTaken                   14352 non-null  float64
 38  Age                         14352 non-null  float64
 39  TypeofContact               14352 non-null  object
 40  CityTier                    14352 non-null  float64
 41  DurationOfPitch             14352 non-null  float64
 42  Occupation                  14352 non-null  object
 43  Gender                      14352 non-null  object
 44  NumberOfPersonVisiting      14352 non-null  float64
 45  NumberOfFollowups           14352 non-null  float64
 46  ProductPitched              14352 non-null  object
 47  PreferredPropertyStar       14352 non-null  float64
 48  MaritalStatus               14352 non-null  object
 49  NumberOfTrips               14352 non-null  float64
 50  Passport                    14352 non-null  float64
 51  PitchSatisfactionScore      14352 non-null  float64
 52  OwnCar                      14352 non-null  float64
 53  NumberOfChildrenVisiting    14352 non-null  float64
 54  Designation                 14352 non-null  object
 55  MonthlyIncome               14352 non-null  float64
dtypes: float64(39), int64(1), object(16)
memory usage: 6.1+ MB

In [16]:
travel_data.shape

(14353, 56)

In [17]:
travel_data.columns

Index(['Month', 'Trip ID', 'Destination', 'Start date', 'End date',
       'Duration (days)', 'Traveler name', 'Traveler age', 'Traveler gender',
       'Traveler nationality', 'Accommodation type', 'Accommodation cost',
       'Transportation type', 'Transportation cost', 'Simplified Destination',
       'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC',
       'Dew PointC', 'MeanDew PointC', 'Min DewpointC', 'Max Humidity',
       'Mean Humidity', 'Min Humidity', 'Max Sea Level PressurehPa',
       'Mean Sea Level PressurehPa', 'Min Sea Level PressurehPa',
       'Max VisibilityKm', 'Mean VisibilityKm', 'Min VisibilityKm',
       'Max Wind SpeedKm/h', 'Mean Wind SpeedKm/h', 'Max Gust SpeedKm/h',
       'Precipitationmm', 'CloudCover', 'WindDirDegrees', 'CustomerID',
       'ProdTaken', 'Age', 'TypeofContact', 'CityTier', 'DurationOfPitch',
       'Occupation', 'Gender', 'NumberOfPersonVisiting', 'NumberOfFollowups',
       'ProductPitched', 'PreferredPropertyStar', 'MaritalStatus',
       'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar',
       'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [18]:
travel_data.size

803768

In [19]:
travel_data.nunique()

Month                           44
Trip ID                        139
Destination                     59
Start date                     111
End date                       125
Duration (days)                  9
Traveler name                  109
Traveler age                    29
Traveler gender                  2
Traveler nationality            41
Accommodation type               8
Accommodation cost              25
Transportation type              9
Transportation cost             18
Simplified Destination          39
Max TemperatureC               110
Mean TemperatureC              110
Min TemperatureC               110
Dew PointC                     110
MeanDew PointC                 110
Min DewpointC                  110
Max Humidity                   110
Mean Humidity                  110
Min Humidity                   110
Max Sea Level PressurehPa      110
Mean Sea Level PressurehPa     110
Min Sea Level PressurehPa      110
Max VisibilityKm               110
Mean VisibilityKm              110
Min VisibilityKm               110
Max Wind SpeedKm/h             110
Mean Wind SpeedKm/h            110
Max Gust SpeedKm/h             110
Precipitationmm                110
CloudCover                     110
WindDirDegrees                 110
CustomerID                    4472
ProdTaken                        2
Age                             44
TypeofContact                    2
CityTier                         3
DurationOfPitch                 34
Occupation                       4
Gender                           3
NumberOfPersonVisiting           5
NumberOfFollowups                6
ProductPitched                   5
PreferredPropertyStar            3
MaritalStatus                    4
NumberOfTrips                   12
Passport                         2
PitchSatisfactionScore           5
OwnCar                           2
NumberOfChildrenVisiting         4
Designation                      5
MonthlyIncome                 2403
dtype: int64

In [21]:


# Extract unique destinations or countries from the travel data
unique_travel_countries = travel_data['Destination'].unique()  # or 'Country Code' if it exists
print("Unique Travel Destinations/Countries:")
print(unique_travel_countries)

# Extract unique country codes or names from the economic data
unique_economic_countries = economic_data['Country Code'].unique()  # or 'Country Name'
print("Unique Economic Country Codes:")
print(unique_economic_countries)

Unique Travel Destinations/Countries:
['London, UK' 'Phuket, Thailand' 'Bali, Indonesia' 'New York, USA'
 'Tokyo, Japan' 'Paris, France' 'Sydney, Australia'
 'Rio de Janeiro, Brazil' 'Amsterdam, Netherlands'
 'Dubai, United Arab Emirates' 'Cancun, Mexico' 'Barcelona, Spain'
 'Honolulu, Hawaii' 'Berlin, Germany' 'Marrakech, Morocco'
 'Edinburgh, Scotland' 'Paris' 'Bali' 'London' 'Tokyo' 'New York' 'Sydney'
 'Rome' 'Bangkok' 'Hawaii' 'Barcelona' 'Japan' 'Thailand' 'France'
 'Australia' 'Brazil' 'Greece' 'Egypt' 'Mexico' 'Italy' 'Spain' 'Canada'
 'New York City, USA' 'Bangkok, Thailand' 'Vancouver, Canada'
 'Sydney, AUS' 'Seoul, South Korea' 'Los Angeles, USA' 'Rome, Italy'
 'Cape Town' 'Cape Town, SA' 'Sydney, Aus' 'Bangkok, Thai' 'Phuket, Thai'
 'Dubai' 'Seoul' 'Rio de Janeiro' 'Amsterdam' 'Phuket' 'Santorini'
 'Phnom Penh' 'Athens, Greece' 'Cape Town, South Africa'
 'Auckland, New Zealand']
Unique Economic Country Codes:
['ABW' 'AFE' 'AFG' 'AFW' 'AGO' 'ALB' 'AND' 'ARB' 'ARE' 'ARG' 'ARM' 'ASM'
 'ATG' 'AUS' 'AUT' 'AZE' 'BDI' 'BEL' 'BEN' 'BFA' 'BGD' 'BGR' 'BHR' 'BHS'
 'BIH' 'BLR' 'BLZ' 'BMU' 'BOL' 'BRA' 'BRB' 'BRN' 'BTN' 'BWA' 'CAF' 'CAN'
 'CEB' 'CHE' 'CHI' 'CHL' 'CHN' 'CIV' 'CMR' 'COD' 'COG' 'COL' 'COM' 'CPV'
 'CRI' 'CSS' 'CUB' 'CUW' 'CYM' 'CYP' 'CZE' 'DEU' 'DJI' 'DMA' 'DNK' 'DOM'
 'DZA' 'EAP' 'EAR' 'EAS' 'ECA' 'ECS' 'ECU' 'EGY' 'EMU' 'ERI' 'ESP' 'EST'
 'ETH' 'EUU' 'FCS' 'FIN' 'FJI' 'FRA' 'FRO' 'FSM' 'GAB' 'GBR' 'GEO' 'GHA'
 'GIB' 'GIN' 'GMB' 'GNB' 'GNQ' 'GRC' 'GRD' 'GRL' 'GTM' 'GUM' 'GUY' 'HIC'
 'HKG' 'HND' 'HPC' 'HRV' 'HTI' 'HUN' 'IBD' 'IBT' 'IDA' 'IDB' 'IDN' 'IDX'
 'IMN' 'IND' 'INX' 'IRL' 'IRN' 'IRQ' 'ISL' 'ISR' 'ITA' 'JAM' 'JOR' 'JPN'
 'KAZ' 'KEN' 'KGZ' 'KHM' 'KIR' 'KNA' 'KOR' 'KWT' 'LAC' 'LAO' 'LBN' 'LBR'
 'LBY' 'LCA' 'LCN' 'LDC' 'LIC' 'LIE' 'LKA' 'LMC' 'LMY' 'LSO' 'LTE' 'LTU'
 'LUX' 'LVA' 'MAC' 'MAF' 'MAR' 'MCO' 'MDA' 'MDG' 'MDV' 'MEA' 'MEX' 'MHL'
 'MIC' 'MKD' 'MLI' 'MLT' 'MMR' 'MNA' 'MNE' 'MNG' 'MNP' 'MOZ' 'MRT' 'MUS'
 'MWI' 'MYS' 'NAC' 'NAM' 'NCL' 'NER' 'NGA' 'NIC' 'NLD' 'NOR' 'NPL' 'NRU'
 'NZL' 'OED' 'OMN' 'OSS' 'PAK' 'PAN' 'PER' 'PHL' 'PLW' 'PNG' 'POL' 'PRE'
 'PRI' 'PRK' 'PRT' 'PRY' 'PSE' 'PSS' 'PST' 'PYF' 'QAT' 'ROU' 'RUS' 'RWA'
 'SAS' 'SAU' 'SDN' 'SEN' 'SGP' 'SLB' 'SLE' 'SLV' 'SMR' 'SOM' 'SRB' 'SSA'
 'SSD' 'SSF' 'SST' 'STP' 'SUR' 'SVK' 'SVN' 'SWE' 'SWZ' 'SXM' 'SYC' 'SYR'
 'TCA' 'TCD' 'TEA' 'TEC' 'TGO' 'THA' 'TJK' 'TKM' 'TLA' 'TLS' 'TMN' 'TON'
 'TSA' 'TSS' 'TTO' 'TUN' 'TUR' 'TUV' 'TZA' 'UGA' 'UKR' 'UMC' 'URY' 'USA'
 'UZB' 'VCT' 'VEN' 'VGB' 'VIR' 'VNM' 'VUT' 'WLD' 'WSM' 'XKX' 'YEM' 'ZAF'
 'ZMB' 'ZWE']

In [22]:
# Convert lists to sets
set_travel_countries = set(unique_travel_countries)
set_economic_countries = set(unique_economic_countries)

# Find common and exclusive countries
common_countries = set_travel_countries.intersection(set_economic_countries)
exclusive_to_travel = set_travel_countries.difference(set_economic_countries)
exclusive_to_economic = set_economic_countries.difference(set_travel_countries)

print("Countries present in both datasets:")
print(common_countries)
print("Countries exclusive to travel data:")
print(exclusive_to_travel)
print("Countries exclusive to economic data:")
print(exclusive_to_economic)

Countries present in both datasets:
set()
Countries exclusive to travel data:
{'Hawaii', 'Thailand', 'Bangkok', 'Sydney, AUS', 'Australia', 'New York', 'Japan', 'Paris, France', 'Athens, Greece', 'Canada', 'Honolulu, Hawaii', 'London, UK', 'Rome', 'Greece', 'Seoul', 'Bangkok, Thai', 'Phnom Penh', 'Tokyo, Japan', 'Tokyo', 'Seoul, South Korea', 'France', 'Rio de Janeiro', 'Sydney, Australia', 'Dubai, United Arab Emirates', 'New York City, USA', 'Italy', 'Spain', 'Sydney', 'Barcelona', 'Marrakech, Morocco', 'Edinburgh, Scotland', 'Egypt', 'Phuket, Thai', 'Phuket', 'Cancun, Mexico', 'London', 'Auckland, New Zealand', 'Rio de Janeiro, Brazil', 'Amsterdam, Netherlands', 'New York, USA', 'Berlin, Germany', 'Bali', 'Mexico', 'Rome, Italy', 'Cape Town', 'Bangkok, Thailand', 'Barcelona, Spain', 'Amsterdam', 'Santorini', 'Bali, Indonesia', 'Vancouver, Canada', 'Los Angeles, USA', 'Cape Town, South Africa', 'Phuket, Thailand', 'Cape Town, SA', 'Brazil', 'Dubai', 'Paris', 'Sydney, Aus'}
Countries exclusive to economic data:
{'PRY', 'MHL', 'HUN', 'ISL', 'BHS', 'SOM', 'SDN', 'PRE', 'CHL', 'FCS', 'MWI', 'MOZ', 'KGZ', 'MNA', 'PSS', 'TLA', 'KNA', 'IND', 'VEN', 'ETH', 'NGA', 'CPV', 'TUR', 'MIC', 'HRV', 'LVA', 'OSS', 'GUM', 'ARM', 'KEN', 'CYP', 'SWE', 'UKR', 'SST', 'MLI', 'PRK', 'NLD', 'LTE', 'NRU', 'COM', 'LBN', 'TUV', 'FSM', 'DOM', 'IBD', 'CUB', 'FRO', 'GRC', 'MAC', 'IDB', 'UZB', 'CUW', 'KIR', 'LMC', 'MUS', 'CIV', 'BRB', 'MDV', 'LKA', 'BMU', 'MEX', 'MCO', 'SYR', 'SSA', 'HTI', 'GBR', 'BFA', 'MYS', 'WSM', 'GNQ', 'KOR', 'TSS', 'PAN', 'ARB', 'SLE', 'ISR', 'ATG', 'LBR', 'AFG', 'AFE', 'SAS', 'SYC', 'BLZ', 'PNG', 'THA', 'RWA', 'PRI', 'VNM', 'ARG', 'LCA', 'LSO', 'CZE', 'GNB', 'TJK', 'IRN', 'MEA', 'BRA', 'GRL', 'CHI', 'PSE', 'IDX', 'AUT', 'GUY', 'SSD', 'ESP', 'COG', 'COD', 'IRL', 'SVN', 'CAN', 'LDC', 'FIN', 'LUX', 'JOR', 'ITA', 'XKX', 'MDG', 'SEN', 'LTU', 'BLR', 'TON', 'ECS', 'KHM', 'MDA', 'PAK', 'TGO', 'JAM', 'TTO', 'HPC', 'PST', 'EGY', 'TCD', 'INX', 'VCT', 'EAS', 'COL', 'WLD', 'QAT', 'URY', 'ECU', 'IDA', 'POL', 'JPN', 'CMR', 'MRT', 'MAF', 'SVK', 'VIR', 'TZA', 'BRN', 'CHN', 'BEN', 'LAO', 'BGR', 'LBY', 'IRQ', 'TEC', 'MLT', 'GEO', 'BTN', 'EAP', 'ABW', 'UMC', 'SUR', 'ROU', 'LCN', 'VGB', 'NCL', 'SMR', 'EST', 'GAB', 'LIC', 'VUT', 'AZE', 'BDI', 'DJI', 'PER', 'ERI', 'NIC', 'BWA', 'PYF', 'UGA', 'BHR', 'EMU', 'IMN', 'RUS', 'AGO', 'IDN', 'CYM', 'EAR', 'TLS', 'ZMB', 'KWT', 'SWZ', 'MAR', 'LAC', 'FJI', 'MKD', 'SGP', 'TUN', 'NPL', 'DNK', 'OMN', 'SRB', 'TKM', 'EUU', 'IBT', 'BGD', 'GHA', 'ASM', 'PRT', 'SXM', 'DZA', 'GMB', 'SSF', 'AFW', 'GTM', 'GIB', 'ARE', 'PLW', 'GIN', 'CHE', 'NAC', 'MNE', 'CEB', 'NER', 'CRI', 'BIH', 'ALB', 'LIE', 'CAF', 'DEU', 'MNG', 'KAZ', 'BEL', 'CSS', 'NOR', 'TEA', 'ZAF', 'HIC', 'HKG', 'AND', 'TCA', 'DMA', 'SLV', 'PHL', 'ZWE', 'TSA', 'AUS', 'FRA', 'ECA', 'STP', 'YEM', 'HND', 'MMR', 'LMY', 'SAU', 'TMN', 'MNP', 'OED', 'GRD', 'NAM', 'NZL', 'SLB', 'USA', 'BOL'}

In [23]:
# Assuming your travel data is in a DataFrame called `travel_data`
travel_data['Country'] = travel_data['Destination'].apply(lambda x: x.split(', ')[-1])

# Now, get the unique country names from the travel data
unique_travel_countries = travel_data['Country'].unique()
print("Unique Travel Countries:", unique_travel_countries)

Unique Travel Countries: ['UK' 'Thailand' 'Indonesia' 'USA' 'Japan' 'France' 'Australia' 'Brazil'
 'Netherlands' 'United Arab Emirates' 'Mexico' 'Spain' 'Hawaii' 'Germany'
 'Morocco' 'Scotland' 'Paris' 'Bali' 'London' 'Tokyo' 'New York' 'Sydney'
 'Rome' 'Bangkok' 'Barcelona' 'Greece' 'Egypt' 'Italy' 'Canada' 'AUS'
 'South Korea' 'Cape Town' 'SA' 'Aus' 'Thai' 'Dubai' 'Seoul'
 'Rio de Janeiro' 'Amsterdam' 'Phuket' 'Santorini' 'Phnom Penh'
 'South Africa' 'New Zealand']

In [24]:
# Assuming your economic data country codes are stored in `unique_economic_countries`
set_travel_countries = set(unique_travel_countries)
set_economic_countries = set(unique_economic_countries)

# Find common and exclusive country entries
common_countries = set_travel_countries.intersection(set_economic_countries)
exclusive_to_travel = set_travel_countries.difference(set_economic_countries)
exclusive_to_economic = set_economic_countries.difference(set_travel_countries)

print("Common Countries:", common_countries)
print("Exclusive to Travel Data:", exclusive_to_travel)
print("Exclusive to Economic Data:", exclusive_to_economic)

Common Countries: {'AUS', 'USA'}
Exclusive to Travel Data: {'UK', 'Thailand', 'Bangkok', 'Australia', 'Hawaii', 'Morocco', 'SA', 'Thai', 'South Africa', 'New York', 'New Zealand', 'Japan', 'Canada', 'Aus', 'Rome', 'Germany', 'Greece', 'Seoul', 'Netherlands', 'Phnom Penh', 'Tokyo', 'France', 'Scotland', 'Indonesia', 'Rio de Janeiro', 'Italy', 'Spain', 'Sydney', 'Barcelona', 'United Arab Emirates', 'Phuket', 'Egypt', 'London', 'Mexico', 'Bali', 'Cape Town', 'Amsterdam', 'Santorini', 'Brazil', 'South Korea', 'Paris', 'Dubai'}
Exclusive to Economic Data: {'PRY', 'MHL', 'HUN', 'ISL', 'BHS', 'SOM', 'SDN', 'PRE', 'CHL', 'FCS', 'MWI', 'MOZ', 'KGZ', 'MNA', 'PSS', 'TLA', 'KNA', 'IND', 'VEN', 'ETH', 'NGA', 'CPV', 'TUR', 'MIC', 'HRV', 'LVA', 'OSS', 'GUM', 'ARM', 'KEN', 'CYP', 'SWE', 'UKR', 'SST', 'MLI', 'PRK', 'NLD', 'LTE', 'NRU', 'COM', 'LBN', 'TUV', 'FSM', 'DOM', 'IBD', 'CUB', 'FRO', 'GRC', 'MAC', 'IDB', 'UZB', 'CUW', 'KIR', 'LMC', 'MUS', 'CIV', 'BRB', 'MDV', 'LKA', 'BMU', 'MEX', 'MCO', 'SYR', 'SSA', 'HTI', 'GBR', 'BFA', 'MYS', 'WSM', 'GNQ', 'KOR', 'TSS', 'PAN', 'ARB', 'SLE', 'ISR', 'ATG', 'LBR', 'AFG', 'AFE', 'SAS', 'SYC', 'BLZ', 'PNG', 'THA', 'RWA', 'PRI', 'VNM', 'ARG', 'LCA', 'LSO', 'CZE', 'GNB', 'TJK', 'IRN', 'MEA', 'BRA', 'GRL', 'CHI', 'PSE', 'IDX', 'AUT', 'GUY', 'SSD', 'ESP', 'COG', 'COD', 'IRL', 'SVN', 'CAN', 'LDC', 'FIN', 'LUX', 'JOR', 'ITA', 'XKX', 'MDG', 'SEN', 'LTU', 'BLR', 'TON', 'ECS', 'KHM', 'MDA', 'PAK', 'TGO', 'JAM', 'TTO', 'HPC', 'PST', 'EGY', 'TCD', 'INX', 'VCT', 'EAS', 'COL', 'WLD', 'QAT', 'URY', 'ECU', 'IDA', 'POL', 'JPN', 'CMR', 'MRT', 'MAF', 'SVK', 'VIR', 'TZA', 'BRN', 'CHN', 'BEN', 'LAO', 'BGR', 'LBY', 'IRQ', 'TEC', 'MLT', 'GEO', 'BTN', 'EAP', 'ABW', 'UMC', 'SUR', 'ROU', 'LCN', 'VGB', 'NCL', 'SMR', 'EST', 'GAB', 'LIC', 'VUT', 'AZE', 'BDI', 'DJI', 'PER', 'ERI', 'NIC', 'BWA', 'PYF', 'UGA', 'BHR', 'EMU', 'IMN', 'RUS', 'AGO', 'IDN', 'CYM', 'EAR', 'TLS', 'ZMB', 'KWT', 'SWZ', 'MAR', 'LAC', 'FJI', 'MKD', 'SGP', 'TUN', 'NPL', 'DNK', 'OMN', 'SRB', 'TKM', 'EUU', 'IBT', 'BGD', 'GHA', 'ASM', 'PRT', 'SXM', 'DZA', 'GMB', 'SSF', 'AFW', 'GTM', 'GIB', 'ARE', 'PLW', 'GIN', 'CHE', 'NAC', 'MNE', 'CEB', 'NER', 'CRI', 'BIH', 'ALB', 'LIE', 'CAF', 'DEU', 'MNG', 'KAZ', 'BEL', 'CSS', 'NOR', 'TEA', 'ZAF', 'HIC', 'HKG', 'AND', 'TCA', 'DMA', 'SLV', 'PHL', 'ZWE', 'TSA', 'FRA', 'ECA', 'STP', 'YEM', 'HND', 'MMR', 'LMY', 'SAU', 'TMN', 'MNP', 'OED', 'GRD', 'NAM', 'NZL', 'SLB', 'BOL'}

In [25]:
# Expanded dictionary mapping from country name variations in travel data to ISO country codes
country_code_mapping = {
    'UK': 'GBR',
    'Thailand': 'THA',
    'Indonesia': 'IDN',
    'USA': 'USA',
    'Japan': 'JPN',
    'France': 'FRA',
    'Australia': 'AUS',
    'Brazil': 'BRA',
    'Netherlands': 'NLD',
    'United Arab Emirates': 'ARE',
    'Mexico': 'MEX',
    'Spain': 'ESP',
    'Hawaii': 'USA',  # Assuming Hawaii as part of the USA in travel context
    'Germany': 'DEU',
    'Morocco': 'MAR',
    'Scotland': 'GBR',
    'Italy': 'ITA',
    'Greece': 'GRC',
    'Egypt': 'EGY',
    'Canada': 'CAN',
    'South Korea': 'KOR',
    'New Zealand': 'NZL',
    'Paris': 'FRA',
    'London': 'GBR',
    'Tokyo': 'JPN',
    'New York': 'USA',
    'Sydney': 'AUS',
    'Rome': 'ITA',
    'Bangkok': 'THA',
    'Barcelona': 'ESP',
    'Dubai': 'ARE',
    'Rio de Janeiro': 'BRA',
    'Amsterdam': 'NLD',
    'Phuket': 'THA',
    'Santorini': 'GRC',
    'Phnom Penh': 'KHM',
    'Cape Town': 'ZAF',
    'Bali': 'IDN',
    'Seoul': 'KOR'
    # Add more mappings as needed
}

# Applying the mapping to the 'Destination' column in the travel data
travel_data['Country Code'] = travel_data['Destination'].apply(
    lambda dest: country_code_mapping.get(dest.split(', ')[-1], None)
)

# Ensure no null values in 'Country Code' if necessary, handle or drop them
print(travel_data['Country Code'].isnull().sum())

# Merge the travel data with economic data on 'Country Code'
combined_data = pd.merge(
    travel_data, 
    economic_data, 
    on='Country Code', 
    how='left'
)

# Check the head of the combined dataframe to ensure correctness
print(combined_data.head())

832
        Month  Trip ID Destination  Start date    End date  Duration (days)  \
0  2023-05-01        1  London, UK  2023-05-01  2023-05-08              7.0
1  2023-05-01        1  London, UK  2023-05-01  2023-05-08              7.0
2  2023-05-01        1  London, UK  2023-05-01  2023-05-08              7.0
3  2023-05-01        1  London, UK  2023-05-01  2023-05-08              7.0
4  2023-05-01        1  London, UK  2023-05-01  2023-05-08              7.0

  Traveler name  Traveler age Traveler gender Traveler nationality  ...  \
0    John Smith          35.0            Male             American  ...
1    John Smith          35.0            Male             American  ...
2    John Smith          35.0            Male             American  ...
3    John Smith          35.0            Male             American  ...
4    John Smith          35.0            Male             American  ...

  TravelExp_2011  TravelExp_2012 TravelExp_2013  TravelExp_2014  \
0   3.906700e+10    4.118900e+10   4.658200e+10    5.265900e+10
1   3.906700e+10    4.118900e+10   4.658200e+10    5.265900e+10
2   3.906700e+10    4.118900e+10   4.658200e+10    5.265900e+10
3   3.906700e+10    4.118900e+10   4.658200e+10    5.265900e+10
4   3.906700e+10    4.118900e+10   4.658200e+10    5.265900e+10

  TravelExp_2015  TravelExp_2016  TravelExp_2017  TravelExp_2018  \
0   5.194700e+10    4.875700e+10    4.818800e+10    4.994000e+10
1   5.194700e+10    4.875700e+10    4.818800e+10    4.994000e+10
2   5.194700e+10    4.875700e+10    4.818800e+10    4.994000e+10
3   5.194700e+10    4.875700e+10    4.818800e+10    4.994000e+10
4   5.194700e+10    4.875700e+10    4.818800e+10    4.994000e+10

   TravelExp_2019  TravelExp_2020
0    5.252900e+10    1.909800e+10
1    5.252900e+10    1.909800e+10
2    5.252900e+10    1.909800e+10
3    5.252900e+10    1.909800e+10
4    5.252900e+10    1.909800e+10

[5 rows x 93 columns]